.b-container {
  position: relative;
}

.b-code {
  background: #002b36;
  padding: 0.8rem;
  display: block;
  color: #93a1a1;
  font-weight: bold;
}

/* For syntax highlighting HTML */
.b-tag {
  color: #cb4b16;
}

.b-attr-key {
  color: #dc322f;
}

.b-attr-equals {
  color: #268bd2;
}

.b-attr-value {
  color: #fdf6e3;
}

.b-tag {
  color: #cb4b16;
}

.b-attr-key {
  color: #dc322f;
}

.b-attr-equals {
  color: #268bd2;
}

.b-attr-value {
  color: #fdf6e3;
}

/* For syntax highlighting CSS */

.b-selector {
  color: #cb4b16;
}

.b-prop {
  color: #268bd2;
}

/* Cart */

.b-cart-toggle {
  position: absolute;
  right: 0px;
  margin: 5px;
  border: none;
  background: #ecf3fb;
  color: #002b36;
  font-size: 1.3rem;
  padding: 0.1rem;
}

.b-cart {
  width: 100%;
  max-width: 200px;
  position: fixed;
  right: 1%;
  bottom: 1%;
  background-color: #eeeeee;
  padding: 0.8rem 1rem;
  display: none;
  box-shadow: 0px 0px 3px #002b36;
  border: none;
}

.b-cart__title {
  font-size: 3rem;
}

.b-download {
  background: #268bd2;
  color: #fdf6e3;
  width: 100%;
  display: block;
  padding: 0.5rem;
  text-align: center;
  border: none;
  font-weight: bold;
}
